---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
 {% include archive-single.html %}
{% endfor %} -->

<h2>Teaching Assistant, Department of Computer Science, Vanderbilt University (Aug. 2023 – May 2025)</h2>
<ul>
  <li>CS 4352/5352: Social Network Analysis</li>
  <li>CS 4260: Introduction to Artificial Intelligence</li>
  <li>CS 5892: Project in Data-Centric AI</li>
</ul>

<h2>Teaching Assistant, Department of Civil and Environmental Engineering, Vanderbilt University (Aug. 2021 – May 2023)</h2>
<ul>
  <li>CE 2200: Statics</li>
  <li>CE 3205: Structural Design</li>
  <li>CE 3200: Structural Analysis</li>
</ul>
